vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|03 Nov 2008 11:56:02 -0000
vti_extenderversion:SR|12.0.0.4518
vti_author:SR|WWW-A5D7E4FCF3B\\Administrator
vti_modifiedby:SR|WWW-A5D7E4FCF3B\\Administrator
vti_timecreated:TR|20 Oct 2008 08:25:16 -0000
vti_backlinkinfo:VX|images/search/index.css
vti_nexttolasttimemodified:TW|03 Nov 2008 11:55:44 -0000
vti_cacheddtm:TX|03 Nov 2008 11:56:04 -0000
vti_filesize:IR|457
vti_cachedlinkinfo:VX|S|bg_left_bg.gif S|bg_leftNave_r1_c1.gif S|images/dot.gif
vti_cachedsvcrellinks:VX|FSUS|images/search/bg_left_bg.gif NSUS|images/search/bg_leftNave_r1_c1.gif NSUS|images/search/images/dot.gif
