vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|18 Dec 2008 12:00:59 -0000
vti_extenderversion:SR|12.0.0.4518
vti_author:SR|WWW-A5D7E4FCF3B\\Administrator
vti_modifiedby:SR|BUBUJIE-0200650\\Administrator
vti_timecreated:TR|04 Nov 2008 12:25:06 -0000
vti_backlinkinfo:VX|images/form/index.css
vti_nexttolasttimemodified:TW|16 Nov 2008 10:49:12 -0000
vti_cacheddtm:TX|18 Dec 2008 12:00:59 -0000
vti_filesize:IR|987
vti_cachedlinkinfo:VX|S|bg_body9.jpg S|bgt.gif S|bgm.gif
vti_cachedsvcrellinks:VX|FSUS|images/form/bg_body9.jpg FSUS|images/form/bgt.gif FSUS|images/form/bgm.gif
