@charset "utf-8";
/* Debug copyright(c)bubujie.net */
/* ######### ######### ######### BEGIN::Debug ######### ######### ######### */
body { background:#FFFFCC; }
#bhead { background:#FFFF00; }
#bbody { background:#FFFF99; }
#bfoot { background:#999933; }
#bhead .wrapping { background:#FFCC33; padding-top:20px; padding-bottom:20px; }
#bbody .wrapping { background:#FFFFCC; padding-top:20px; padding-bottom:20px; }
#bfoot .wrapping { background:#666666; padding-top:20px; padding-bottom:20px; }
#bhead .wrapping .filling { background:#660; }
#bbody .wrapping .filling { background:#990; }
#bfoot .wrapping .filling { background:#cc0; }
#content { background:#CCFF99; }
.ming  { background:#CCCCFF; }
.n1 { background:#FFCCCC; }
.n2 { background:#FF9999; }
h1, h2, h3, h4, h5, h6 { margin-top:0; margin-bottom:0; }
ul { margin-top:0; margin-bottom:0; padding-top:0; padding-bottom:0; }
li { background:#FFFFCC; }
hr { display:none; }
/* ######### ######### ######### END::Debug ######### ######### ######### */
