vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|30 Oct 2008 06:17:31 -0000
vti_extenderversion:SR|12.0.0.4518
vti_backlinkinfo:VX|images/service/index.css service.html
vti_author:SR|WWW-A5D7E4FCF3B\\Administrator
vti_modifiedby:SR|WWW-A5D7E4FCF3B\\Administrator
vti_timecreated:TR|21 Oct 2008 10:24:06 -0000
vti_nexttolasttimemodified:TW|30 Oct 2008 06:17:22 -0000
vti_cacheddtm:TX|30 Oct 2008 06:17:24 -0000
vti_filesize:IR|1084
vti_cachedlinkinfo:VX|S|none S|wrap_bg.gif S|wrap_bgt.gif
vti_cachedsvcrellinks:VX|NSUS|images/service/none FSUS|images/service/wrap_bg.gif FSUS|images/service/wrap_bgt.gif
