vti_encoding:SR|utf8-nl
vti_timelastmodified:TX|20 Oct 2008 06:51:56 -0000
vti_author:SR|WWW-A5D7E4FCF3B\\Administrator
vti_modifiedby:SR|WWW-A5D7E4FCF3B\\Administrator
vti_nexttolasttimemodified:TX|20 Oct 2008 06:51:56 -0000
vti_timecreated:TR|20 Oct 2008 08:03:36 -0000
vti_cacheddtm:TX|20 Oct 2008 08:03:38 -0000
vti_filesize:IR|8946
vti_cachedlinkinfo:VX|S|top_link_bg.gif S|nav_bg_high_2.gif S|nav_main_right_high.gif S|nav_main_right_high.gif S|nav_main_left_high.gif S|nav_main_left_high.gif S|nav_main_right_high.gif S|nav_main_left_high.gif S|nav_sub_on_1.gif S|nav_sub_on_2.gif S|nav_bg_high_2.gif S|main_top.gif S|main_bottom.gif S|foot_link.gif
vti_cachedsvcrellinks:VX|FSUS|images/top_link_bg.gif NSUS|images/nav_bg_high_2.gif FSUS|images/nav_main_right_high.gif FSUS|images/nav_main_right_high.gif FSUS|images/nav_main_left_high.gif FSUS|images/nav_main_left_high.gif FSUS|images/nav_main_right_high.gif FSUS|images/nav_main_left_high.gif FSUS|images/nav_sub_on_1.gif FSUS|images/nav_sub_on_2.gif NSUS|images/nav_bg_high_2.gif NSUS|images/main_top.gif NSUS|images/main_bottom.gif FSUS|images/foot_link.gif
vti_extenderversion:SR|12.0.0.4518
vti_backlinkinfo:VX|
vti_syncwith_localhost\\f\:\\www\\htdocs\\mall\\syssite\\design/f\:/www/htdocs/mall/syssite/design:TW|20 Oct 2008 08:03:38 -0000
vti_syncofs_localhost\\f\:\\www\\htdocs\\mall\\syssite\\design/f\:/www/htdocs/mall/syssite/design:TX|20 Oct 2008 06:51:56 -0000
